.main-container {
  min-height: 100vh;    
  margin: 100px 0 -450px 0;
}

.central-form {
  max-width: 1100px;
  padding-top: 12px;
  display: flex;
  box-shadow: 0 0px 20px -2px rgb(10, 174, 224);
  border-radius: 12px 100px 12px 100px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(150deg, rgba(48,5,79,1) 0%, rgba(7,7,89,1) 29%, rgba(10,142,135,1) 100%);
}

.central-form h2 {
  color: #fff;
  font-family: "Poppins Bold";
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.back-form {
  max-width: 380px;
  margin: 0 auto;
}

.back-form .img-back {
  width: 100%;
  margin-bottom: 20px;
}

.img-back h4 {
  letter-spacing: 0.3rem;
  font-weight: 400;
  color: white;
  font-size: 18px;
  opacity: 0.9;
  margin-left: 20px;
  display: flex;
  justify-content:center;

}

.back-form .img-back img {
  width: 60%;
  opacity: 0.8;
  margin: 10px 126px;
}

.central-form form {
  width: auto;
  /* box-shadow: 0 0 2px 1px rgb(10, 174, 224); */
  display: flex;
  color: #111;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  margin-top: -131px;
  /* opacity: 0.9; */
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 0px 20px -2px rgb(10, 42, 224); */
  border-radius: 0 100px 10px 0;
}

form p {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(10, 174, 224);
  letter-spacing: 0.1rem;
  font-family: "Poppins Bold";
}

form label {
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  letter-spacing: 0.2rem;
}

form input,
textarea {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border-radius: 10px;
}
.InpName{
  border-radius: 10px 100px 10px 10px;
  width: 97%;
}
textarea:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
form input:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

form button {
  margin-top: 15px;
  padding: 5px;
  outline: none;
  width: 900px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(10, 174, 224);
  border-radius: 10px;
  background-color: #65687e;
  font-size: 18px;
  font-weight:600;
  width: 150px;
  align-items: center;
  justify-content: center;
}

form button:hover {
  background-color: #d8dae9;
  color: rgb(0, 0, 0);
  transition: all ease 1s;
  border: 2px solid #1f2235;
}

button .load {
  width: 100%;
}

button .load img {
  width: 20px;
  margin-left: 8px;
  color: rgb(255, 255, 255);
}
.col i {
  padding: 7px;
  color: #fff;
}
.col i:hover {
  transform: scale(1.5);
}
.send-btn{
  margin-left: 170px;
}
.send-btn i{
    margin-left:10px;
    color: rgb(0, 247, 255);
}
.send-btn i:hover{
  color: rgb(48, 0, 182);
}

@media screen and (min-width: 940px) {
  .back-form {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .img-back {
    flex: 1;
    align-self: center;
    margin-right: 20px;
  }

  form {
    flex: 0.9;
  }
}
@media screen and (max-width: 914px) {
  .central-form h2 {
    font-size: 16px;
  }
  .back-form .img-back img {
    width: 24%;
    opacity: 0.8;
    margin-bottom: 105px;
}
  .central-form form{
    border-radius:0 100px 0 100px;
    margin-top: -160px;
  }
  .h{
    opacity: 0.0;
  }
}
