.footer-contain{
    margin-top:50px ;
    background: linear-gradient(120deg, rgba(48,5,79,1) 30%, rgba(7,7,89,1) 70%);
    padding-top:8px;
    opacity: 0.9;
    /* height:16.8%; */
    width:100%;
    overflow:hidden;
    display:flex;
    justify-content:center;
}
.footer-inside{
    color:rgb(199, 169, 255)
}